body{
	font-family: Georgia;
	background: url("../images/asanoha-400px.png");
}

.navbar{
	border-bottom: 2px solid #ccc;
	background-color: #fff;
}
.navbar-header{
	background-color: #ffffff;
	margin-left: 0px;

}

.navbar-default .navbar-brand{
	background-color: #4aaaa5;
	color: #ffffff;
	font-weight: bold;
}

.row{
	margin-left: 20px
}

.panel-heading{
	font-size: 24px;
	font-weight: bold;
	color: #4aaaa5;
}
img{
	padding-right: 10px;
}
.text{
	color:#777;
}

.footer{
	background-color:#ccc;
	color: #fff;
	border-top: 4px solid #4aaaa5;
}

.thumbnail .caption{
	text-align: center;
	background-color: #4aaaa5;
	color:white;
}